.red {
  color: red;
}

.blue {
  color: blue;
}

.yellow {
  color: yellowgreen;
}

.purple {
  color: purple;
}

.green {
  color: green;
}

.background-colored {
  background-color: #FFFFAA;
  border-color: black;
  border-style: solid;
  border-width: 1px;

}
