<h1 [ngClass]="theColor">Welcome</h1>

<h2>Basics</h2>
<label>
  <input [(ngModel)]="theColor" type="text"/>
</label>
<div>
  <button (click)="toggleColor()">Change color</button>
  {{theColor}}
</div>

<br>
<div [(ngModel)]="anonymous">
  {{anonymous.firstName}}  {{anonymous.lastName}} {{anonymous.age}}
  <button (click)="changeFirstName()">Change person</button>
</div>

<select [(ngModel)]="theColor" id="color-select" name="color-selection">
  <option value="">--Please choose an option--</option>
  <option value="red">Red</option>
  <option value="yellow">Yellow</option>
  <option value="green">Green</option>
  <option value="blue">Blue</option>
</select>

<p (click)="display($event)">
  Lorem Ip
</p>

<div [class.background-colored]="true">
  <h2>List of Products</h2>
  <app-menu></app-menu>

  <app-product-list [_products]="products"></app-product-list>
  <app-supplier-list [_suppliers]="suppliers"></app-supplier-list>
</div>

<h2>Counter Incrementor</h2>

<app-counter-incrementor></app-counter-incrementor>
