<div [class.background-colored]="true">
  <h3>Product List : <input (change)="getFilteredList()" [(ngModel)]="productNameFilter"
                            placeholder="Filter by Name" type="text"></h3>

  <div *ngIf="selectedProduct" [class.background-colored-selected-product]="true"> You have
    selected {{selectedProduct.name}}</div>
  <ul *ngIf="products&&products.length>1">
    <li *ngFor="let product of getFilteredList()">
      <h4>Product {{product.id}}</h4>
      <app-product (eventEmitter)="updateSelectedProduct($event)" [product]="product"
                   appShowPromo></app-product>
    </li>
  </ul>

  <h3>Ajouter un produit</h3>
  <div [(ngModel)]="newProduct">
    Id : <label> <input type="number"> </label>{{newProduct.id}}
    Name : <label> <input type="string"> </label>{{newProduct.name}}
    Price : <label> <input type="number"> </label>{{newProduct.price}}
    Promo : <label> <input type="number"> </label>{{newProduct.promo}}
    <input (click)="addProduct()" type="button">
  </div>
</div>
